# Ignore todos os arquivos yml, md
*.yml
*.md

# Ignore as pastas docs, config, .vscode, __pycache__
.vscode/
docs/
**/__pycache__/

# Ignore os arquivos de configuração docker
Dockerfile


# Ignore os arquivos do `Pipenv`
Pipfile
Pipfile.lock

# Ignora todos os arquivos README
**/README
**/README.md

*.lock
__pycache__/
jars/hadoop/
jars/spark/
jars/java/